<a href="https://colab.research.google.com/github/kolomichyk/BMSTU-Hack/blob/develop/Po_sqrt_team_(1)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
from seaborn import pairplot
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.ensemble import RandomForestRegressor
from statistics import mean
from sklearn.metrics import mean_absolute_error
import xgboost as xgb

###Предобработка данных

In [19]:
data_target = pd.read_csv('/content/train_target.csv')

In [69]:
data = pd.read_parquet('/content/train.parquet')

In [ ]:
def addAnswer(data):
  for j in range(0, data.shape[0], 19):
    NotNullElement  = False
    posNotNullElement = 0
    for i in range(j+18, j-1, -1):
      if (data['milleage_all'][i] and not NotNullElement):
        NotNullElement = True
        posNotNullElement = i
      if (data['milleage_all'][i]):
        data['answer'][i] = data_target['target'][j//19] +  data['milleage_all'][posNotNullElement] - data['milleage_all'][i]

In [22]:
data.head

NameError: ignored

Количество пропусков в данных

In [ ]:
data['answer'] = [0 for i in range(data.shape[0])]

In [ ]:
addAnswer(data)

<ipython-input-23-a71db577cb51>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['answer'][i] = data_target['target'][j//19] +  data['milleage_all'][posNotNullElement] - data['milleage_all'][i]

Удаляем строки с пропусками

In [ ]:
df = data
df = df.dropna(axis=0)
df = df.drop(columns=['wagnum', 'ts_id'])
df.shape

(620886, 10)

In [ ]:
df.isnull().sum()

milleage_all       0
axl1_l_w_flange    0
axl1_r_w_flange    0
axl2_l_w_flange    0
axl2_r_w_flange    0
axl3_l_w_flange    0
axl3_r_w_flange    0
axl4_l_w_flange    0
axl4_r_w_flange    0
answer             0
dtype: int64

Нормализуем данные

In [ ]:
scaler = StandardScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

### Визуализируем данные

In [ ]:
vdata1 = df_normalized[:1000]

In [ ]:
pairplot(vdata1)

In [ ]:
vdata1 = vdata1.assign(avg1=vdata1[['axl1_l_w_flange', 'axl1_r_w_flange']].mean(axis=1))
vdata1 = vdata1.assign(avg2=vdata1[['axl2_l_w_flange', 'axl2_r_w_flange']].mean(axis=1))
vdata1 = vdata1.assign(avg3=vdata1[['axl3_l_w_flange', 'axl3_r_w_flange']].mean(axis=1))
vdata1 = vdata1.assign(avg4=vdata1[['axl4_l_w_flange', 'axl4_r_w_flange']].mean(axis=1))

In [ ]:
pairplot(vdata1.drop(columns=['axl1_l_w_flange', 'axl1_r_w_flange', 'axl2_l_w_flange',
       'axl2_r_w_flange', 'axl3_l_w_flange', 'axl3_r_w_flange',
       'axl4_l_w_flange', 'axl4_r_w_flange']))

### Train test split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_normalized.drop(columns=['answer']), df['answer'], test_size=0.20, random_state=42)

### Построение MVP модели

In [ ]:
linear_model = LinearRegression().fit(X_train, y_train)

In [ ]:
linear_model.score(X_test, y_test)

0.30000308810642407

In [ ]:
linear_model.coef_

array([2503.8054303 , 3616.34705899, 3419.74625692, 4271.59964096,
       3283.19374453, 3178.51222309, 4354.90039529, 2946.96618875,
       3692.85747515])

In [ ]:
lassoModel = Lasso(alpha = i * 0.25, tol = 0.0925)
for i in range(1, 9):
    lassoModel.fit(X_train, y_train)
    scores = cross_val_score(lassoModel, X_train, y_train, cv = 10)
    avg_cross_val_score = mean(scores)*100

In [ ]:
lassoModel.score(X_test, y_test)

0.3000033264738413

In [ ]:
lassoModel.coef_

array([2500.46019163, 3616.86815621, 3418.48137326, 4268.77719003,
       3280.05339539, 3176.46754717, 4354.25616113, 2947.88565021,
       3694.55949233])

In [ ]:
avg_cross_val_score

30.131320657597914

In [ ]:
mean_absolute_error(y_test, lassoModel.predict(X_test))

23848.71555115389

In [ ]:
mean_absolute_error(y_test, linear_model.predict(X_test))

23848.742280832463

### RandomForestRegressor

In [ ]:
Forest_regressor = RandomForestRegressor(100, criterion="absolute_error", max_depth=15)

In [ ]:
for epoch in range(1):
  Forest_regressor.fit(X_train, y_train)

In [ ]:
mean_absolute_error(y_test, Forest_regressor.predict(X_test))

### XGBoost

In [ ]:
xgb_r = xgb.XGBRegressor(objective ='reg:linear',
                  n_estimators = 10, seed = 42)

In [ ]:
xgb_r.fit(X_train, y_train)

[05:50:14] WARNING: ../src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             objective='reg:linear', predictor=None, ...)

In [ ]:
mean_absolute_error(y_test, xgb_r.predict(X_test))

20146.426607667923

### Вторая теория (Усредним значения)

In [ ]:
data.head(20)

In [ ]:
df = pd.DataFrame(index=range(data.shape[0]//19),columns=data.columns)

In [ ]:
data['answer'] = [0 for i in range(data.shape[0])]

In [39]:
def make_data(data):
  df = pd.DataFrame(index=range(data.shape[0]//19),columns=data.columns)
  for j in range(0, data.shape[0], 19):
    milleage_all_avg = 0
    axl1_l_w_flange_avg = 0
    axl1_r_w_flange_avg = 0
    axl2_l_w_flange_avg = 0
    axl2_r_w_flange_avg = 0
    axl3_l_w_flange_avg = 0
    axl3_r_w_flange_avg = 0
    axl4_l_w_flange_avg = 0
    axl4_l_w_flange_avg = 0
    axl4_r_w_flange_avg = 0
    milleage_all_kol = 0
    axl1_l_w_flange_kol = 0
    axl1_r_w_flange_kol = 0
    axl2_l_w_flange_kol = 0
    axl2_r_w_flange_kol = 0
    axl3_l_w_flange_kol = 0
    axl3_r_w_flange_kol = 0
    axl4_l_w_flange_kol = 0
    axl4_l_w_flange_kol = 0
    axl4_r_w_flange_kol = 0
    for i in range(j+18, j-1, -1):
      if data['milleage_all'][i]:
        milleage_all_avg += data['milleage_all'][i]
        milleage_all_kol += 1
      if data['axl1_l_w_flange'][i]:
        axl1_l_w_flange_avg += data['axl1_l_w_flange'][i]
        axl1_l_w_flange_kol += 1
      if data['axl1_r_w_flange'][i]:
        axl1_r_w_flange_avg += data['axl1_r_w_flange'][i]
        axl1_r_w_flange_kol += 1 
      if data['axl2_l_w_flange'][i]:
        axl2_l_w_flange_avg += data['axl2_l_w_flange'][i]
        axl2_l_w_flange_kol += 1
      if data['axl2_r_w_flange'][i]:
        axl2_r_w_flange_avg += data['axl2_r_w_flange'][i]
        axl2_r_w_flange_kol += 1 
      if data['axl3_l_w_flange'][i]:
        axl3_l_w_flange_avg += data['axl3_l_w_flange'][i]
        axl3_l_w_flange_kol += 1
      if data['axl3_r_w_flange'][i]:
        axl3_r_w_flange_avg += data['axl3_r_w_flange'][i]
        axl3_r_w_flange_kol += 1 
      if data['axl4_l_w_flange'][i]:
        axl4_l_w_flange_avg += data['axl4_l_w_flange'][i]
        axl4_l_w_flange_kol += 1
      if data['axl4_r_w_flange'][i]:
        axl4_r_w_flange_avg += data['axl4_r_w_flange'][i]
        axl4_r_w_flange_kol += 1 
    df['milleage_all'][j//19] = milleage_all_avg / milleage_all_kol
    df['axl1_l_w_flange'][j//19] = axl1_l_w_flange_avg / axl1_l_w_flange_kol
    df['axl1_r_w_flange'][j//19] = axl1_r_w_flange_avg / axl1_r_w_flange_kol
    df['axl2_l_w_flange'][j//19] = axl2_l_w_flange_avg / axl2_l_w_flange_kol
    df['axl2_r_w_flange'][j//19] = axl2_r_w_flange_avg / axl2_r_w_flange_kol
    df['axl3_l_w_flange'][j//19] = axl3_l_w_flange_avg / axl3_l_w_flange_kol
    df['axl3_r_w_flange'][j//19] = axl3_r_w_flange_avg / axl3_r_w_flange_kol
    df['axl4_l_w_flange'][j//19] = axl4_l_w_flange_avg / axl4_l_w_flange_kol
    df['axl4_r_w_flange'][j//19] = axl4_r_w_flange_avg / axl4_r_w_flange_kol
  return df

In [70]:
df = make_data(data)

In [71]:
df.head()

,wagnum,ts_id,milleage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange
0,NaN,NaN,48215.157895,28.626316,28.852632,28.347368,28.552632,29.668421,29.426316,29.584211,27.805263
1,NaN,NaN,18275.736842,29.884211,31.868421,31.747368,32.042105,29.984211,31.789474,31.657895,30.973684
2,NaN,NaN,28330.315789,28.805263,27.868421,28.247368,27.189474,28.436842,28.873684,28.884211,28.173684
3,NaN,NaN,19096.157895,29.926316,27.752632,27.984211,29.178947,30.778947,29.1,30.505263,28.421053
4,NaN,NaN,11969.263158,32.173684,32.742105,32.384211,28.926316,32.484211,32.715789,31.742105,31.336842

In [72]:
y = pd.Series(data_target['target'])

In [73]:
df = df.drop(columns=['wagnum', 'ts_id'])

In [74]:
df.head()

,milleage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange
0,48215.157895,28.626316,28.852632,28.347368,28.552632,29.668421,29.426316,29.584211,27.805263
1,18275.736842,29.884211,31.868421,31.747368,32.042105,29.984211,31.789474,31.657895,30.973684
2,28330.315789,28.805263,27.868421,28.247368,27.189474,28.436842,28.873684,28.884211,28.173684
3,19096.157895,29.926316,27.752632,27.984211,29.178947,30.778947,29.1,30.505263,28.421053
4,11969.263158,32.173684,32.742105,32.384211,28.926316,32.484211,32.715789,31.742105,31.336842

In [75]:
scaler = StandardScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [ ]:
df_normalized.head()

In [76]:
X_train, X_test, y_train, y_test = train_test_split(df_normalized, y, test_size=0.10, random_state=42)

In [80]:
xgb_test_r = xgb.XGBRegressor(objective ='reg:linear',
                  n_estimators = 28, seed = 42)

In [81]:
xgb_test_r.fit(df_normalized, y)

[18:47:45] WARNING: ../src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=28, n_jobs=None, num_parallel_tree=None,
             objective='reg:linear', predictor=None, ...)

In [82]:
mean_absolute_error(y_test, xgb_test_r.predict(X_test))

17686.80316522553

In [83]:
import pickle

In [85]:
with open('/content/Model.pkl', 'wb') as f:
    pickle.dump(xgb_test_r, f)

In [35]:
with open('/content/Model.pkl', 'rb') as f:
    t1 = pickle.load(f)

In [ ]:
mean_absolute_error(y_test, t1.predict(X_test))

19163.13172200028

In [86]:
data = pd.read_parquet('/content/test.parquet')

In [87]:
data = data.fillna(0)

In [88]:
data.isna().sum()

wagnum             0
ts_id              0
milleage_all       0
axl1_l_w_flange    0
axl1_r_w_flange    0
axl2_l_w_flange    0
axl2_r_w_flange    0
axl3_l_w_flange    0
axl3_r_w_flange    0
axl4_l_w_flange    0
axl4_r_w_flange    0
dtype: int64

In [89]:
data.shape

(209076, 11)

In [90]:
df = make_data(data)

In [93]:
df.isna().sum()

milleage_all       0
axl1_l_w_flange    0
axl1_r_w_flange    0
axl2_l_w_flange    0
axl2_r_w_flange    0
axl3_l_w_flange    0
axl3_r_w_flange    0
axl4_l_w_flange    0
axl4_r_w_flange    0
dtype: int64

In [92]:
df = df.drop(columns=['wagnum', 'ts_id'])

In [96]:
scaler = StandardScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [63]:
example = pd.read_csv('/content/test_submit_example.csv')

In [64]:
example.head()

   wagnum  ts_id  target
0       0      1     999
1       1      2     999
2       4      1     999
3       7      1     999
4      13      5     999

In [94]:
answer = pd.DataFrame(index=range(df.shape[0]),columns=['wagnum','ts_id','target'])

In [97]:
df_normalized.shape

(11004, 9)

In [99]:
targets = xgb_test_r.predict(df_normalized)

In [108]:
data.head(20)

,wagnum,ts_id,milleage_all,axl1_l_w_flange,axl1_r_w_flange,axl2_l_w_flange,axl2_r_w_flange,axl3_l_w_flange,axl3_r_w_flange,axl4_l_w_flange,axl4_r_w_flange
0,0,1,258.0,30.6,29.2,29.7,30.2,29.4,29.1,28.2,29.5
1,0,1,2905.0,30.0,28.2,29.2,29.2,28.7,28.9,28.1,29.0
2,0,1,3885.0,29.8,28.6,29.3,29.1,28.5,28.7,27.9,28.6
3,0,1,4864.0,29.7,28.4,29.3,29.1,29.1,28.5,28.2,29.0
4,0,1,6225.0,30.6,29.1,29.4,29.2,29.1,28.7,27.9,28.3
5,0,1,7080.0,30.4,29.0,29.6,29.0,29.2,29.0,28.5,28.6
6,0,1,8722.0,30.2,28.6,28.9,28.4,28.9,28.9,27.2,28.0
7,0,1,13864.0,30.0,28.7,28.4,28.5,28.4,28.5,27.1,28.2
8,0,1,13864.0,30.1,28.2,28.8,28.2,29.1,28.7,26.6,27.9
9,0,1,15448.0,29.9,28.7,28.4,28.4,28.6,28.0,26.0,27.4
10,0,1,16504.0,30.9,28.4,27.8,28.1,28.2,28.3,27.0,27.4
11,0,1,19056.0,30.0,28.8,28.0,28.4,28.7,29.0,26.7,27.9
12,0,1,19930.0,30.0,28.5,28.0,28.5,28.6,29.0,27.9,27.9
13,0,1,23572.0,29.7,28.2,27.5,27.9,28.1,28.3,25.5,27.0
14,0,1,23952.0,29.9,28.5,27.9,28.3,29.0,27.9,26.3,27.2
15,0,1,24738.0,30.1,28.6,27.8,27.5,28.2,28.3,27.2,27.1
16,0,1,25497.0,29.9,28.5,27.8,27.1,28.6,28.5,26.8,27.1
17,0,1,26351.0,30.2,28.8,27.7,28.5,28.5,28.4,27.2,27.2
18,0,1,28043.0,29.8,28.5,27.2,27.6,28.1,28.4,26.0,27.1
19,1,2,56488.0,27.8,27.5,28.6,28.5,28.9,27.3,31.6,32.2

In [124]:
def FillAnswer(answer, data, targets):
  for i in range(len(answer)):
    answer['target'][i] = targets[i]
  for i in range(0, data.shape[0], 19):
    answer['wagnum'][i//19] = data['wagnum'][i]
    answer['ts_id'][i//19] = data['ts_id'][i]

In [ ]:
for i in range(0, 115, 19):
    print(data['ts_id'][i])
data.head(50)

In [132]:
FillAnswer(answer, data, targets)

In [144]:
answer.to_csv('PO-sqrt-team.csv', sep=',', index=False)

In [145]:
answer.shape

(11004, 3)

In [146]:
t1 = pd.read_csv('/content/PO-sqrt-team.csv')

In [148]:
t1.head()

   wagnum  ts_id     target
0       0      1  36151.610
1       1      2  36623.883
2       4      1  36510.363
3       7      1  36264.016
4      13      5  26758.873

In [147]:
t1.shape

(11004, 3)